<div class="container-profile">
  <div class="profile-candidate">
    <div class="row">
      <div class="col-md-3">
        <div id="candidate-img-profile" style="padding-top: 20px;">
          <img
            src="{{model.perfil.fotoPerfil}}"
            alt="{{model.perfil.nombre}}"
            border="0"
            class="img-responsive center-block"
          >
        </div>
      </div>

      <div class="col-md-5">
        <h3 style="padding-left: 0px;">{{model.perfil.nombre}}</h3>
        <table class="table">
          <tbody>
            {{#each-in model.perfil.informacionGeneral as |key item|}}
              <tr>
                <td>
                  {{#if item.label}}<span>{{{item.label}}}</span>{{/if}}
                  {{{item.value}}}
                </td>
              </tr>
            {{/each-in}}
          </tbody>
        </table>
      </div>

      <div class="col-md-4 social-side" style="padding-left: 40px; padding-right: 40px;">
        {{#if documentosDisponibles}}
          <h4 style="font-weight: bold; padding-top: 20px;">Datos abiertos</h4>
        {{/if}}

        {{#each documentosDisponibles as |documento|}}
          <p class="datos-abiertos">
            <a
              href="{{documento.urlDocumento}}"
              class="btn btn-{{documento.cssClasses}} width-full"
              target="_blank"
              style="font-weight: 400;"
            >
              {{documento.nombreDocumento}}
            </a>
          </p>
        {{/each}}

        <ul class="list-inline text-center" style="font-size: 16px;">
          {{#if model.perfil.tw}}
            <li>
              <i class="fa fa-twitter" style="font-size: 20px;"></i>
              <a
                href="https://twitter.com/{{model.perfil.tw}}"
                class="social-link-candidate"
                target="_blank">@{{model.perfil.tw}}
              </a>
            </li>
          {{/if}}

          {{#if model.perfil.fb}}
            <li>
              <i class="fa fa-facebook-official" style="font-size: 20px;"></i>
              <a
                href="{{model.perfil.fb}}"
                class="social-link-candidate"
                target="_blank"
              >
                {{model.perfil.nombre}}
              </a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="biografia-container" class="row">
  <div class="col-md-2 col-md-offset-1 text-center">
    <i class="fa fa-file-text" style="font-size: 60px; padding-top: 30px;"></i>
  </div>
  <div class="col-md-8">
    <h3>Biografía</h3>
    <p style="margin-bottom: 30px;">
      {{model.perfil.biografia}}
    </p>
  </div>
</div>

<div class="questionary row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Experiencia profesional</div>

      <div class="panel-body">
        {{model.perfil.experienciaProfesional}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Experiencia académica</div>

      <div class="panel-body">
        {{model.perfil.experienciaAcademica}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Tabla de gradación</div>

      <div class="panel-body tabla-gradacion-content">
        <div class="row">
          <div class="col-xs-2 text-center icon-container">
            <i class="fa fa-graduation-cap"></i>
          </div>
          <div class="col-xs-8 text-container">
            Aspectos académicos
          </div>
          <div class="col-xs-2">
            <span class="badge">10</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 text-center icon-container">
            <i class="fa fa-suitcase"></i>
          </div>
          <div class="col-xs-8 text-container">
            Aspectos profesionales
          </div>
          <div class="col-xs-2">
            <span class="badge">10</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 text-center icon-container">
            <i class="fa fa-check"></i>
          </div>
          <div class="col-xs-8 text-container">
            Proyección humana e idoneidad
          </div>
          <div class="col-xs-2">
            <span class="badge">10</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 text-center icon-container">
            <i class="fa fa-handshake-o"></i>
          </div>
          <div class="col-xs-8 text-container">
            Cualidades éticas y de probidad
          </div>
          <div class="col-xs-2">
            <span class="badge">10</span>
          </div>
        </div>

        <div class="row" style="padding-bottom: 45px;">
          <div class="col-xs-10 text-container">
            Puntaje total
          </div>
          <div class="col-xs-2">
            <span class="badge">10</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#each-in model.perfil.recuadros as |key item|}}
    <div class="panel panel-default">
      {{#if item.label}}<div class="panel-heading">{{{item.label}}}</div>{{/if}}

      <div class="panel-body">
        {{{item.value}}}
      </div>
    </div>
  {{/each-in}}
</div>

{{#if disqusShortname}}
  {{disqus-comments identifier=model.perfil.disqusIdentifier}}
{{/if}}
