{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

{{title model.config.htmlTitle}}

<div id="wrapper">
  {{#bs-navbar type="inverse" position="fixed-top" fluid=false as |navbar|}}
    <div class="navbar-header">
      {{navbar.toggle}}

      {{#link-to "application" class="navbar-brand"}}
        {{#if model.config.logoUrl}}
          <img
            src="{{model.config.logoUrl}}"
            class="img-responsive"
            title="Elección MP"
            alt="Elección MP">
        {{else}}
          <img
            src="app/img/logo-eleccion-mp.png"
            class="img-responsive"
            title="{{model.config.logoTitle}}"
            alt="{{model.config.logoTitle}}">
        {{/if}}
      {{/link-to}}
    </div>

    {{#navbar.content}}
      {{#navbar.nav classNames='navbar-right' as |nav|}}
        {{#each model.config.navbarLinks as |link|}}
          {{#nav.item active=false}}{{#link-to link.route}}{{link.title}}{{/link-to}}{{/nav.item}}
        {{/each}}
      {{/navbar.nav}}
    {{/navbar.content}}
  {{/bs-navbar}}

  <div class="container content-container">
    {{outlet}}
  </div>
</div>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h5>Ayúdanos a llegar a más personas</h5>
        <ul>
          <li><a href="http://donacion.redciudadana.org/" target="_blank"><i class="fa fa-heart"></i> Donaciones</a></li>
          <li><a href="http://voluntarios.redciudadana.org/" target="_blank"><i class="fa fa-users"></i> Voluntariado</a></li>
        </ul>
      </div>

      <div class="col-sm-4 text-center">
        <h5>Desarrollado por:</h5>
        <a href="http://www.redciudadana.org/" target="_blank">
          <img class="logo" src="app/img/logo-red-blanco.png" alt="Red Ciudadana" title="Red ciudadana">
        </a>
      </div>

      <div class="col-sm-4">
        <h5>Contáctanos</h5>
        <ul>
          <li>
            <a href="mailto:info@redciudadana.org.gt?Subject=Prensa%20CandiDatos" class="email-prensa" target="_top">
              <i class="fa fa-envelope"></i> Correo electrónico: <strong>info@redciudadana.org</strong>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
      </div>

      <div class="col-md-6 text-center">
        <h5>
          {{#link-to 'metodologia'}}
            Con el apoyo de
          {{/link-to}}
        </h5>
      </div>

      <div class="col-md-3">
      </div>
    </div>
  </div>
</div>
